# Ignore directories storing key infrastructure
server*/
client*/
public_keys/

# Ignore generated blocks
genesis_block.json
server*_block*.json

# Allow the specific 'server/' and 'client/' directories
!server/
!client/

#Ignore test generated logs
tests_sh/test*/logs/

# Compiled Java class files
*.class

# Build directories
out/
target/

# Ignore IDE directories and files
.vscode/
.idea/
.project
.classpath
.settings/
nbproject/
DerivedData/
.gradle/
build/
*.iml
*.sublime-workspace
*.sublime-project

#mac
.DS_Store