# for having a faulty process this must be at least 4 (F < N/3)
NUM_SERVERS=4

NUM_CLIENTS=3

BASE_PORT_SERVER_TO_SERVER=5000

BASE_PORT_CLIENT_TO_SERVER=3000

BASE_PORT_CLIENTS=4000

LEADER_ID=0

# number of relays (1 relay = 200ms) total timeout = 3s
TIMEOUT=5